@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Marcellus&family=Pixelify+Sans&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: Marcellus, Bebas Neue, Arial, sans-serif;
    background-color: #474747;
    
    align-items: center;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: auto;
}

.clearfix {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 20px; 
    padding-right: 20px; 
}

header h1{
    animation-name: slidein;
    animation-duration: 1s;
}

header h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-align: left ;
    font-family: Dela Gothic One;
    
}

nav ul {
    list-style: none; 
}

nav li {
    display: inline; 
    margin: 5px 10px;
    margin-bottom: 30px;
    font-size: large;
    animation-duration: 1;
    animation-name: appear;
}

nav li :hover{
    color: silver;
    transition: 0.5s;
    background-color: black;
    border-radius: 8px;
    border: none;
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    color: #fff; 
}

@keyframes  slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 3,9%;
        width: 100%;
      }
}


#Jogos{
  position: relative;
  padding-top: 0px; 
}

.carousel {
  height: 600px;
}

.carousel img {
  height: 600px;
  object-fit: cover;
  filter:brightness(0.5);
  border-radius: 10px;
}

img .carousel{
  width: 100%;
}

  .inicio{
    position: absolute;
    margin-top: 15px;
    margin-left: 0px;
    width: 1400px;
    border-radius: 8px;
  }
  
  .inicio h1{
    position: absolute;
    top: 145px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px black;
    text-align: center;
    text-decoration:underline;
  }

  .titulo {
    z-index: 1000;
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
  }

  .titulo2 {
    z-index: 1000;
    color: #fff;
    text-align: center;
    font-family: 'Pixelify Sans', 'Courier New', Courier, monospace;
    font-size: 50px;
    text-decoration: underline;
  }

  .banner{
    position: relative;
    filter:opacity(0.5);
    margin-left: 100px;
    margin-top: 30px;
  }

  .banner::before{
    background-image:url(img/1.jpg);
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.efeito::after, .efeito2::after, .efeito3::after, .efeito4::after {
    content: '|';
    color: #71c837;
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
}
.efeito::after {
    animation: blink .6s infinite;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
}

[class*="col-4"] {
    float: right;
    padding-right: 20px;
}

.col-1  { width: 8.33%;  }
.col-2  { width: 16.66%; }
.col-3  { width: 24.99%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }     
.col-6  {width: 50%;}
.col-7  {width: 58.33%}
.col-8  {width: 66.66%;}
.col-9  {width: 74.99%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.banner img {
  transition: all 1s ease;
}
.banner img:hover{
  transform: scale(1.15);
}

#maratona{
    margin-top: 50px;
    margin-left: 420px;
    margin-bottom: 40px;
}

.maratonaimg{
    border-radius: 10px;
    filter: blur(2px)  brightness(0.5);
}

#titmaratona{
    z-index: 1000;
    position: absolute;
    margin-top: 60px;
    margin-left: 90px;
    color: #fff;
    font-size: 35px;
}

.maratona {
    z-index: 1000;
    position: absolute;
    margin-top: 140px;
    margin-left: 95px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}


.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  z-index: 1000;
  margin-top: 200px;
  margin-left: 225px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

